/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style for the entire login container */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  /* Style for the image container */
  .image-container {
    flex: 1;
    padding: 20px;
  }
  
  /* Style for the form container */
  .form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the form box */
  .form-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  /* Style for the form header */
  .form-header {
    background-color: #43b18d;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Style for input containers */
  .input-container {
    display: flex; /* Use flexbox to align icon and input horizontally */
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-container svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    background-color: #16a085;
    border-radius: 5px;
    padding: 5px;
  }
  
  .input-container input {
    flex: 1;
    height: 45px;
    padding-left: 10px; /* Adjust as needed */
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
    outline: none;
  }
  
  /* Style for the submit button */
  .submit-button {
    background-color: #16a085;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .submit-button:hover {
    background-color: #13866b;
  }
  
  /* Style for registration links */
  .registration-links {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .registration-button {
    color: #16a085;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .registration-button:hover {
    color: #13866b;
  }

  .form-header {
    margin-bottom: 4%;
  }